VITE_STRAVA_CLIENT_ID=188507
VITE_STRAVA_CLIENT_SECRET=e365f5daac24b4e62fe2c12208ccbab06fa89b85
VITE_STRAVA_REDIRECT_URI=http://localhost:3000/auth/callback

# supabase
VITE_SUPABASE_URL=https://fgywaffkyykvkshmqxcb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZneXdhZmZreXlrdmtzaG1xeGNiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM3NTEzODEsImV4cCI6MjA3OTMyNzM4MX0.h4wDSpluBYpEN74fV1sQNOwvWaCVWBfWwesAv7ThgIQ
VITE_SUPABASE_SERVICE_ROLE_KEY=

# gemini
VITE_GEMINI_API_KEY=

# ollama
VITE_OLLAMA_URL=http://localhost:11434
VITE_OLLAMA_MODEL=llama3
