VITE_STRAVA_CLIENT_ID=
VITE_STRAVA_CLIENT_SECRET=
VITE_STRAVA_REDIRECT_URI=

# supabase
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_SERVICE_ROLE_KEY=

# gemini
VITE_GEMINI_API_KEY=

# ollama
VITE_OLLAMA_URL=
VITE_OLLAMA_MODEL=llama3
